<?php

return [
    'repositories' => [
    ],
    'auth' => [
        'basic' => [
            'username' => '',
            'password' => '',
        ],
        # 'token' => '', // GitHub personal token
    ],
];
